.tajj_vid {
	display: flex;
	flex-wrap: wrap;
	width: 50vw;
	justify-content: center;
	margin: 10px auto;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	cursor: grab;
}

.about_text1 {
	color: rgba(255, 255, 0, 0.9);
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about_text2 {
	color: rgba(13, 249, 249, 0.9);
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about_text3 {
	color: rgba(252, 1, 244, 0.9);
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
