.tajj_vid {
	display: flex;
	flex-wrap: wrap;
	width: 50vw;
	justify-content: center;
	margin: 10px auto;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	cursor: grab;
}

.about_text1 {
	color: rgb(194, 194, 79);
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about_text2 {
	color: rgb(20, 198, 198);
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about_text3 {
	color: rgb(252, 1, 244);
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
