*::-webkit-scrollbar {
  display: none;
}
.splash{
  width: 100vw;
  background-color: black;
}
#splash{
  position: relative;
  height: 100vh;
  object-fit: cover;
  z-index:0;
  animation: fadeOut 3s ease-in 2s forwards;
  background-color: black;

}
#splashImage{
  position:absolute;
  z-index:1;
  width: 400px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 3s ease-in forwards;
}

#buttonSplash{
  position:absolute;
  z-index:2;
  margin-left: -1px;
  top: 70%;
  left:50%;
  transform: translate(-50%, -50%);
  animation: slideIn 4s ease-in forwards;
}
#buttonSplash:hover{
  text-decoration: underline;
  cursor: pointer;
}

@keyframes slideIn {
  0% {top:90%;}
  100% {top:70%;}
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  100% {opacity:0;}
  0% {opacity:1;}
}