img {
  width: 100%;
}

.EventsPage {
  background-color: brown;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}





.SearchBar {
  background-color: cadetblue;
  

}