
.homePage{
  text-decoration: none;
  text-align: center;
  background-color: black;
}


.Top{
  background-color: black;
}

#pic1 {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  left:0;
  z-index:1;
  opacity: 40%;

}

.homeRender{
  position: absolute;
  top: 80px;
  display: flex;
  z-index:2;
}

#BigLogo{
  width: 40%;
  height: 40%;
  animation: fadeIn  ease-in 1s forwards;
  margin-left: 50px;
  }

#homeBox{
width: 50%;
}

.BrandText{
  width: 40%;
  animation: fadeIn  ease-in 1s forwards ;

}
.BrandTextInfo{

  animation: fadeIn  ease-in 1s forwards;
}

.actionButton{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 200px;
  height: 40px;
  grid-column: 2;
  border: none;
  background-color: rgb(128, 5, 133);
  color:white;
  border-radius: 25px;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn  ease-in 1s forwards;


  
}

.actionButton:hover{
  cursor: pointer;
  background-color: rgba(163, 4, 168, 0.979);
  border: 1px solid purple;
}


h1 {
  padding:  0 50px 0 50px;
  font-size: 36px
}
