
.pop {
  position:absolute;
  text-align: center;
  background-color: rgba(126, 126, 126, 0.918);
  width: 100%;
  height: 200%;
  position: absolute;
  z-index: 1;
  display: flex;
  padding: 20px;
  justify-content: center;  
  z-index:4;

}

@keyframes pop {
  0%{
    transform: translateY(200px)

  }
  100%{
  transform: translateY(0px)

  }
}

.popUpForm{
  background-color: rgb(255, 255, 255);
  width: 250px;
  height:400px;
  padding: 30px;
  border-radius: 25px;
  margin-top: 40px;
  animation: pop  ease-in .3s forwards;

}

.input-wrapper{
  display: flex;
  flex-direction: column;
  padding: 5px;
  animation: fadeIn  ease-in 1s forwards;

}

label {
  margin: 5px;
}

.BWlogo{ 
  width: 100px ;
  height: 100px;
}

.p {
  cursor: pointer;;
  font-size: small;
}
.p:hover{
  text-decoration: underline;
}