*{
justify-self: center;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:sans-serif;
  border-bottom: 2px solid rgba(128, 128, 128, 0.295);
  
}

#navLogo{
  width: 80px;
  cursor: pointer;
  margin-left: 50px;

}
#navLogo2{
  width: 80px;
  cursor: pointer;
}

.navigation{
  margin-right: 50px;
}

#navItem{
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  color: black;
}

#navItem:hover{
  font-weight: 700;
}

.buttonNav{
  background-color: rgb(128, 5, 133);
  color:white;
  width: 150px;
  height: 35px;
  border-radius: 25px;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  border: 0px ;
  
}

.buttonNav:hover{
  cursor: pointer;
  background-color: rgba(139, 2, 151, 0.541);
}